<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>管理员主页</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://dcloud.io/hellomui/js/mui.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/aper/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://dcloud.io/hellomui/css/mui.min.css" rel="stylesheet"/>
</head><!-- 在头部引入bootstrap的css包与js包 -->

<body>
    <p class="mui-ellipsis">用户名:<span th:text="${session.userId}"></span>
    </p>
</body>
</html>
